.container {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

form {
  position: absolute;
  top: 3em;
  left: 1em;
  width: 400px;
  background: #f1f2f6;
  border-radius: 5px;
  padding: 1em;
  box-shadow: 2.8px 2.8px 4.5px -26px rgba(0, 0, 0, 0.02),
    6.7px 6.7px 10.7px -26px rgba(0, 0, 0, 0.028),
    12.5px 12.5px 20.2px -26px rgba(0, 0, 0, 0.035),
    22.3px 22.3px 36px -26px rgba(0, 0, 0, 0.042),
    41.8px 41.8px 67.3px -26px rgba(0, 0, 0, 0.05),
    100px 100px 161px -26px rgba(0, 0, 0, 0.07);
}

.toggle-btn,
.type-btn {
  margin-bottom: 1.5em;
}

.btn-submit {
  background: none repeat scroll 0 0 transparent;
  border: medium none;
  border-spacing: 0;
  color: #26589f;
  font-family: "PT Sans Narrow", sans-serif;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.42rem;
  list-style: none outside none;
  margin: 0;
  padding: 0;
  text-align: left;
  text-decoration: none;
  text-indent: 0;
  cursor: pointer;
  padding: 0.7em 1em;
  background-color: #4d88da;
  border-radius: 5px;
  color: white;
  transition: all 0.3s ease;

  &:hover {
    opacity: 0.8;
  }
}

app-chart, app-average {
  width: calc(100% - 450px);
  height: fit-content;
  max-height: 100vh !important;

  height: 100vh;
  margin-left: auto;
}
